USE [MCMS]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [uniqueidentifier] NOT NULL,
	[DoctorID] [uniqueidentifier] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[Paid] [bit] NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[Cost] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA21B13A970] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [uniqueidentifier] NOT NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[Specialization] [nvarchar](255) NOT NULL,
	[Available] [bit] NULL,
	[ScheduleID] [int] NULL,
	[Experienceyears] [int] NULL,
 CONSTRAINT [PK__Doctors__2DC00EDFCAC92428] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailVerifications]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailVerifications](
	[VerificationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[MedicationID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitOfMeasure] [nvarchar](50) NULL,
	[ExpiryDate] [date] NOT NULL,
	[Supplier] [nvarchar](50) NULL,
	[RecivedDate] [date] NOT NULL,
	[PharmacistId] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Medicati__F5FDE6D391AC5295] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [uniqueidentifier] NOT NULL,
	[ServiceType] [varchar](20) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CardSessionID] [varchar](100) NULL,
	[CardPaymentIntentID] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[MedicationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Strength] [nvarchar](50) NOT NULL,
	[DosageForm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Medicati__62EC1ADA54A10CE9] PRIMARY KEY CLUSTERED 
(
	[MedicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Token] [nvarchar](64) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Expiry] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [uniqueidentifier] NOT NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[Height] [decimal](5, 2) NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK__Patients__970EC34689C298D5] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[SecondName] [nvarchar](255) NOT NULL,
	[ThirdName] [nvarchar](255) NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[ImageLocation] [nvarchar](255) NULL,
 CONSTRAINT [PK__People__AA2FFB85C415FE9F] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmacists]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacists](
	[PharmacistID] [uniqueidentifier] NOT NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[LicenseNumber] [nvarchar](50) NOT NULL,
	[HireDate] [date] NOT NULL,
	[ExpereinceYears] [int] NULL,
 CONSTRAINT [PK__Pharmaci__5B5BDAF69334ACDC] PRIMARY KEY CLUSTERED 
(
	[PharmacistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [uniqueidentifier] NOT NULL,
	[DoctorID] [uniqueidentifier] NOT NULL,
	[MedicationID] [int] NOT NULL,
	[PrescriptionDate] [date] NOT NULL,
	[Refills] [int] NULL,
	[Instructions] [nvarchar](255) NULL,
	[Cost] [decimal](18, 2) NULL,
	[PharmacistId] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Prescrip__4013081207AED9DB] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePayments]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePayments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ServiceType] [nvarchar](20) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](10) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[StripeSessionId] [nvarchar](255) NULL,
	[StripePaymentIntentId] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [uniqueidentifier] NOT NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[HireDate] [date] NOT NULL,
 CONSTRAINT [PK__Staff__96D4AB1705E71224] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [uniqueidentifier] NOT NULL,
	[DoctorID] [uniqueidentifier] NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[TestResult] [nvarchar](max) NULL,
 CONSTRAINT [PK__Tests__8CC3310024793669] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestType]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestType](
	[TestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Cost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__TestType__9BB876467CFF4874] PRIMARY KEY CLUSTERED 
(
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwoFactorCodes]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwoFactorCodes](
	[CodeId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](6) NOT NULL,
	[Expiry] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__TwoFacto__C6DE2C1597888A9F] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[UserId] [uniqueidentifier] NOT NULL,
	[PersonId] [uniqueidentifier] NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Is2FAEnabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (newsequentialid()) FOR [DoctorID]
GO
ALTER TABLE [dbo].[EmailVerifications] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (newsequentialid()) FOR [PatientID]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT ((170.0)) FOR [Height]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT ((70.0)) FOR [Weight]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT (newsequentialid()) FOR [PersonID]
GO
ALTER TABLE [dbo].[Pharmacists] ADD  DEFAULT (newsequentialid()) FOR [PharmacistID]
GO
ALTER TABLE [dbo].[ServicePayments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF__Staff__StaffId__619B8048]  DEFAULT (newsequentialid()) FOR [StaffId]
GO
ALTER TABLE [dbo].[TwoFactorCodes] ADD  CONSTRAINT [DF__TwoFactor__CodeI__6E8B6712]  DEFAULT (newid()) FOR [CodeId]
GO
ALTER TABLE [dbo].[TwoFactorCodes] ADD  CONSTRAINT [DF__TwoFactor__IsUse__6F7F8B4B]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT ((0)) FOR [Is2FAEnabled]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_PatientID] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_PatientID]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK__Doctors__PersonI__49C3F6B7] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK__Doctors__PersonI__49C3F6B7]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Pharmacists] FOREIGN KEY([PharmacistId])
REFERENCES [dbo].[Pharmacists] ([PharmacistID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Pharmacists]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_MedicationInventory_Medications_MedicationID] FOREIGN KEY([MedicationID])
REFERENCES [dbo].[Medications] ([MedicationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_MedicationInventory_Medications_MedicationID]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Patients]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK__Patients__Person__45F365D3] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK__Patients__Person__45F365D3]
GO
ALTER TABLE [dbo].[Pharmacists]  WITH CHECK ADD  CONSTRAINT [FK__Pharmacis__Perso__7A672E12] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Pharmacists] CHECK CONSTRAINT [FK__Pharmacis__Perso__7A672E12]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK__Prescript__Docto__5535A963] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK__Prescript__Docto__5535A963]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK__Prescript__Medic__5629CD9C] FOREIGN KEY([MedicationID])
REFERENCES [dbo].[Medications] ([MedicationID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK__Prescript__Medic__5629CD9C]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK__Prescript__Patie__5441852A] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK__Prescript__Patie__5441852A]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_PatientID] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_PatientID]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Pharmacists] FOREIGN KEY([PharmacistId])
REFERENCES [dbo].[Pharmacists] ([PharmacistID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Pharmacists]
GO
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK__Staff__PersonID__72910220] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK__Staff__PersonID__72910220]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK__Tests__DoctorID__2BFE89A6] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK__Tests__DoctorID__2BFE89A6]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK__Tests__PatientID__2B0A656D] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK__Tests__PatientID__2B0A656D]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK__Tests__TestTypeI__2CF2ADDF] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestType] ([TestTypeID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK__Tests__TestTypeI__2CF2ADDF]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_PatientID] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_PatientID]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK__Appointme__Statu__0EF836A4] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK__Appointme__Statu__0EF836A4]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([ServiceType]='Prescription' OR [ServiceType]='Appointment' OR [ServiceType]='Test'))
GO
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD CHECK  (([PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD CHECK  (([PaymentStatus]='Failed' OR [PaymentStatus]='Completed' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD CHECK  (([ServiceType]='Prescription' OR [ServiceType]='Appointment' OR [ServiceType]='Test'))
GO
/****** Object:  StoredProcedure [dbo].[ActivateUser]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActivateUser]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    UPDATE UserAccounts
    SET IsActive = 1
    WHERE UserId = @UserId;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
-- 6. ChangeUserPassword Stored Procedure
-- =========================================
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserId UNIQUEIDENTIFIER,
    @NewPasswordHash NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserAccounts
    SET PasswordHash = @NewPasswordHash
    WHERE UserId = @UserId;

	 SELECT @@ROWCOUNT AS RowAffected;
END

GO
/****** Object:  StoredProcedure [dbo].[CreateEmailVerification]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateEmailVerification]
    @UserId UNIQUEIDENTIFIER,
    @Token NVARCHAR(255),
    @ExpiryDate DATETIME
AS
BEGIN
    INSERT INTO EmailVerifications (
        VerificationId, UserId, Token, ExpiryDate, IsUsed, CreatedAt
    )
    VALUES (
        NEWID(), @UserId, @Token, @ExpiryDate, 0, GETDATE()
    );
END
GO
/****** Object:  StoredProcedure [dbo].[CreatePasswordResetToken]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreatePasswordResetToken]
    @Token NVARCHAR(64),
    @UserId UNIQUEIDENTIFIER,
    @Expiry DATETIME
AS
BEGIN
    INSERT INTO PasswordResetTokens (Token, UserId, Expiry)
    VALUES (@Token, @UserId, @Expiry)
END
GO
/****** Object:  StoredProcedure [dbo].[CreateTwoFactorCode]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateTwoFactorCode]
    @UserId UNIQUEIDENTIFIER,
    @Code NVARCHAR(6),
    @Expiry DATETIME
AS
BEGIN
    INSERT INTO TwoFactorCodes (CodeId, UserId, Code, Expiry, IsUsed,CreatedAt )
    VALUES (NEWID(), @UserId, @Code, @Expiry, 0,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[CreateUserAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUserAccount]
    @PersonId UNIQUEIDENTIFIER,
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(255),
    @RoleId INT,
    @UserId UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- رفض تسجيل إيميل مكرر
    IF EXISTS (SELECT 1 FROM UserAccounts WHERE Email = @Email)
    BEGIN
        SET @UserId = NULL;
        RETURN;
    END

    SET @UserId = NEWID();

    INSERT INTO UserAccounts (
        UserId, PersonId, Email, PasswordHash, RoleId,
        IsActive, Is2FAEnabled)
    VALUES (
        @UserId, @PersonId, @Email, @PasswordHash, @RoleId,
        0, 0);
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAppointment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAppointment]
    @AppointmentID INT
AS
BEGIN
    DELETE FROM Appointments
    WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDoctor]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDoctor]
    @DoctorID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Doctors
    WHERE dbo.Doctors.DoctorID = @DoctorID;
	SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteInventory]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteInventory]
    @InventoryID INT
AS
BEGIN
    DELETE FROM [dbo].[Inventory]
    WHERE InventoryID = @InventoryID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteInvoice]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteInvoice]
    @InvoiceID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Invoices
    WHERE InvoiceID = @InvoiceID;
	select @@ROWCOUNT as rowsAffected
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteMedication]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMedication]
    @MedicationID INT
AS
BEGIN
    DELETE FROM [dbo].[Medications]
    WHERE [MedicationID] = @MedicationID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePasswordResetToken]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePasswordResetToken]
    @Token NVARCHAR(64)
AS
BEGIN
    DELETE FROM PasswordResetTokens
    WHERE Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePatient]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePatient]
    @PatientId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete the Patient record
    DELETE FROM dbo.Patients WHERE PatientId = @PatientId;
	 SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePerson]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePerson]
    @PersonID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM dbo.People
    WHERE PersonID = @PersonID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePharmacist]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePharmacist]
    @PharmacistID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM [dbo].[Pharmacists]
    WHERE [PharmacistID] = @PharmacistID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePrescription]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePrescription]
    @PrescriptionID INT
AS
BEGIN
    DELETE FROM [dbo].[Prescriptions]
    WHERE PrescriptionID = @PrescriptionID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteServicePayment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteServicePayment]
    @PaymentId INT
AS
BEGIN
    DELETE FROM ServicePayments
    WHERE PaymentId = @PaymentId
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteStaff]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete
CREATE PROCEDURE [dbo].[DeleteStaff]
    @StaffId UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Staff WHERE StaffId = @StaffId;
    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTest]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTest]
    @TestID INT
AS
BEGIN
    DELETE FROM [dbo].[Tests]
    WHERE [TestID] = @TestID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteTestType]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTestType]
    @TestTypeId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete the TestType record
    DELETE FROM dbo.TestType WHERE TestTypeId = @TestTypeId;
	 SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
-- 5. DeleteUserAccount Stored Procedure
-- =========================================
CREATE PROCEDURE [dbo].[DeleteUserAccount]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM UserAccounts WHERE UserId = @UserId;

	select @@ROWCOUNT as rowsAffected 
END

GO
/****** Object:  StoredProcedure [dbo].[GetAdminDashboardStats]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAdminDashboardStats]
AS
BEGIN
    SELECT
        -- Total Users: فقط الأشخاص المرتبطين بحساب في UserAccounts
        (SELECT COUNT(DISTINCT ua.PersonId) FROM UserAccounts ua) AS TotalUsers,

        (SELECT COUNT(PatientID) FROM Patients) AS TotalPatients,
        (SELECT COUNT(PharmacistID) FROM Pharmacists) AS TotalPharmacists,
        (SELECT COUNT(StaffId) FROM Staff) AS TotalStaff,
        (SELECT COUNT(UserId) FROM UserAccounts) AS TotalAccounts
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAppointments]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAppointments]
AS
BEGIN
    SELECT * FROM Appointments
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAppointmentsWithDetails]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAppointmentsWithDetails]
AS
BEGIN
    SELECT 
        a.AppointmentId,
        a.AppointmentDate,
        a.AppointmentTime,
        a.Reason,
        a.Status,
        a.Paid,
		a.Notes,
        p.PatientId,
        per1.FirstName + ' ' + per1.SecondName + ' ' + per1.ThirdName AS PatientFullName,
        per1.ImageLocation AS PatientImagePath,
        
        d.DoctorId,
        per2.FirstName + ' ' + per2.SecondName + ' ' + per2.ThirdName AS DoctorFullName,
        per2.ImageLocation AS DoctorImagePath
    FROM Appointments a
    JOIN Patients p ON a.PatientId = p.PatientId
    JOIN People per1 ON p.PersonId = per1.PersonId
    JOIN Doctors d ON a.DoctorId = d.DoctorId
    JOIN People per2 ON d.PersonId = per2.PersonId
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllDoctors]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllDoctors]
    
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DoctorId,
        d.PersonId,
        d.Specialization,
        d.Available,
        d.ScheduleId,
		d.[Experienceyears],
        p.FirstName,
        p.SecondName,
        p.ThirdName,
        p.DateOfBirth,
        p.Gender,
        p.Phone,
        p.Email,
        p.ImageLocation
    FROM 
        Doctors d
    INNER JOIN 
        People p ON d.PersonId = p.PersonId
    ORDER BY 
       p.PersonID
    
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllInventory]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllInventory]
AS
BEGIN
    SELECT *
    FROM [dbo].[Inventory]
    ORDER BY RecivedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllInventoryWithMedicationNames]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllInventoryWithMedicationNames]
AS
BEGIN
    SELECT 
        I.InventoryID,
        M.Name AS MedicationName,
        I.Quantity,
        I.UnitOfMeasure,
        I.Supplier,
        I.ExpiryDate,
        I.RecivedDate
    FROM Inventory I
    INNER JOIN Medications M ON I.MedicationID = M.MedicationID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllInvoicesDetailed]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllInvoicesDetailed]
AS
BEGIN
    SELECT 
        I.InvoiceID,
        I.PatientID,
        CONCAT(Pe.FirstName, ' ', Pe.SecondName, ' ', Pe.ThirdName) AS PatientName,
        Pe.ImageLocation AS PatientImage,
        I.ServiceType,
        I.ServiceID,
        I.TotalAmount,
        I.PaymentMethod,
        I.PaymentStatus,
        I.CreatedAt,
        I.Notes,

        -- وصف الخدمة
        CASE 
            WHEN I.ServiceType = 'Test' THEN TT.Name
            WHEN I.ServiceType = 'Appointment' THEN CONCAT('Appointment with Dr ', PeD.FirstName, ' ', PeD.SecondName)
            WHEN I.ServiceType = 'Prescription' THEN CONCAT('Medication',M.Name)
            ELSE 'Unknown'
        END AS ServiceDescription

    FROM Invoices I
    INNER JOIN Patients P ON I.PatientID = P.PatientID
    INNER JOIN People Pe ON P.PersonID = Pe.PersonID

    LEFT JOIN Tests T ON I.ServiceType = 'Test' AND I.ServiceID = T.TestID
    LEFT JOIN TestType TT ON T.TestTypeID = TT.TestTypeID

    LEFT JOIN Appointments A ON I.ServiceType = 'Appointment' AND I.ServiceID = A.AppointmentID
    LEFT JOIN Doctors D ON A.DoctorID = D.DoctorID
    LEFT JOIN People PeD ON D.PersonID = PeD.PersonID

    LEFT JOIN Prescriptions PR ON I.ServiceType = 'Prescription' AND I.ServiceID = PR.PrescriptionID
    LEFT JOIN Medications M ON PR.MedicationID = M.MedicationID

    ORDER BY I.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllMedicationInventory ]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllMedicationInventory ]
    
AS
BEGIN
    -- Calculate the starting row based on page number and page size
     
    SELECT [InventoryID], [MedicationID], [Quantity], [UnitOfMeasure], [ExpiryDate], [Supplier]
    FROM [dbo].Inventory
    ORDER BY [InventoryID]  -- You can modify the order by clause as needed (e.g., by medication or expiry date)
    
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMedications]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllMedications]
    
AS
BEGIN
    -- Calculate the starting row based on page number and 
    SELECT [MedicationID], [Name], [Description], [Strength], [DosageForm]
    FROM [dbo].[Medications]
    ORDER BY [MedicationID]  ;-- You can modify the order by clause as needed
    
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatients]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPatients]
  
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.PatientId,
        p.PersonID,
        per.FirstName,
        per.SecondName,
        per.ThirdName,
        per.DateOfBirth,
        per.Gender,
        per.Phone,
        per.Email,
        per.ImageLocation,
        p.Weight,
        p.Height
    FROM dbo.Patients p
    INNER JOIN dbo.People per ON p.PersonID = per.PersonID
	order by  p.PersonID
	 
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPeople]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPeople]
   
AS
BEGIN
    SELECT 
        PersonID,
        FirstName,
        SecondName,
        ThirdName,
        DateOfBirth,
        Gender,
        Phone,
        Email,
        ImageLocation
    FROM 
        People
    ORDER BY PersonID  -- Ensure that the results are ordered for pagination
  
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPharmacists]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPharmacists]
    
AS
BEGIN
    -- Calculate the starting row based on page number and page size
    

    SELECT 
        ph.PharmacistId,
        ph.PersonId,
        per.FirstName,
        per.SecondName,
        per.ThirdName,
        per.DateOfBirth,
        per.Gender,
        per.Phone,
        per.Email,
        per.ImageLocation,
        ph.LicenseNumber,  -- Assuming Pharmacists have a license number
		ph.HireDate,
		ph.ExpereinceYears
    FROM dbo.Pharmacists ph
    INNER JOIN dbo.People per ON ph.PersonId = per.PersonId
    ORDER BY ph.PersonId
    
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPrescriptions]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- بدون pagination
CREATE PROCEDURE [dbo].[GetAllPrescriptions] AS
BEGIN
    SELECT * FROM Prescriptions ORDER BY PrescriptionDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPrescriptionsWithNames]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPrescriptionsWithNames]

AS
BEGIN
    SELECT 
        P.PrescriptionID,
        P.PrescriptionDate,
        P.Refills,
        P.Instructions,
        P.MedicationID,
        
        Pat.PatientID,
        CONCAT(PePat.FirstName, ' ', PePat.SecondName, ' ', PePat.ThirdName) AS PatientFullName,
        PePat.ImageLocation AS PatientImage,
        
        Doc.DoctorID,
        CONCAT(PeDoc.FirstName, ' ', PeDoc.SecondName, ' ', PeDoc.ThirdName) AS DoctorFullName,
        PeDoc.ImageLocation AS DoctorImage

		,m.Name as MedicationName 
    FROM Prescriptions P
    INNER JOIN Patients Pat ON P.PatientID = Pat.PatientID
    INNER JOIN People PePat ON Pat.PersonID = PePat.PersonID
	inner join Medications m on m.MedicationID = p.MedicationID
    INNER JOIN Doctors Doc ON P.DoctorID = Doc.DoctorID
    INNER JOIN People PeDoc ON Doc.PersonID = PeDoc.PersonID

    ORDER BY P.PrescriptionDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[GetAllStaff]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- Get all
CREATE PROCEDURE [dbo].[GetAllStaff]
AS
BEGIN
    SELECT s.StaffId, s.PersonId, s.IsAdmin, s.HireDate,
           p.FirstName, p.SecondName, p.ThirdName, p.DateOfBirth, p.Email, p.Phone, p.Gender, p.ImageLocation
    FROM Staff s
    JOIN People p ON s.PersonId = p.PersonId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllStaffSummaries]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllStaffSummaries]
AS
BEGIN
    SELECT 
        s.StaffId,
        s.HireDate,
        s.IsAdmin,
        -- جمع الاسم الكامل داخل SP
        LTRIM(RTRIM(
            p.FirstName + ' ' + p.SecondName + 
            CASE 
                WHEN p.ThirdName IS NOT NULL AND p.ThirdName <> '' 
                THEN ' ' + p.ThirdName 
                ELSE '' 
            END
        )) AS FullName,
        p.ImageLocation
    FROM Staff s
    INNER JOIN People p ON s.PersonId = p.PersonId
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllTests]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTests]
AS
BEGIN
  SELECT 
    T.TestID,
    T.PatientID,
    CONCAT(PatP.FirstName, ' ', PatP.SecondName, ' ', PatP.ThirdName) AS PatientFullName,
    PatP.ImageLocation AS PatientImage,

    T.DoctorID,
    CONCAT(DocP.FirstName, ' ', DocP.SecondName, ' ', DocP.ThirdName) AS DoctorFullName,
    DocP.ImageLocation AS DoctorImage,

    T.TestTypeID,
    T.CreatedAt,

    CASE T.Status
        WHEN 1 THEN 'Pending'
        WHEN 2 THEN 'Canceled'
        WHEN 3 THEN 'Completed'
        ELSE 'Unknown'
    END AS Status,

    T.Notes,
    T.Cost,
    T.TestResult,
	TT.Name as TestName

FROM [dbo].[Tests] T
INNER JOIN [dbo].[Patients] Pat ON T.PatientID = Pat.PatientID
INNER JOIN [dbo].[People] PatP ON Pat.PersonID = PatP.PersonID

INNER JOIN [dbo].[Doctors] Doc ON T.DoctorID = Doc.DoctorID
INNER JOIN [dbo].[People] DocP ON Doc.PersonID = DocP.PersonID
inner join  [dbo].TestType TT on TT.TestTypeID = T.TestTypeID
    ORDER BY T.TestID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllTestTypes]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTestTypes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TestTypeId,
        Name,
        Description,
        Cost
    FROM dbo.TestType
;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAccounts]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUserAccounts]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UserId,
        PersonId,
        Email,
        RoleId,
        IsActive,
        Is2FAEnabled
    FROM UserAccounts;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAccountsDetailed]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUserAccountsDetailed]
AS
BEGIN
    SELECT 
        UA.UserId,
        UA.PersonId,
        P.FirstName + ' ' + P.SecondName + ' ' + ISNULL(P.ThirdName, '') AS FullName,
        UA.Email,
        CASE UA.RoleId
            WHEN 1 THEN 'Admin'
            WHEN 2 THEN 'Doctor'
            WHEN 3 THEN 'Patient'
            WHEN 4 THEN 'Pharmacist'
            WHEN 5 THEN 'Staff'
            ELSE 'Unknown'
        END AS Role,
        UA.IsActive,
        UA.Is2FAEnabled,
        P.ImageLocation AS UserImage
    FROM UserAccounts UA
    -- الربط حسب نوع الدور
    LEFT JOIN Patients Pat ON UA.PersonId = Pat.PatientId
    LEFT JOIN Doctors Doc ON UA.PersonId = Doc.DoctorId
    LEFT JOIN Pharmacists Ph ON UA.PersonId = Ph.PharmacistId
    LEFT JOIN Staff S ON UA.PersonId = S.StaffId

    -- جلب معلومات الشخص
    LEFT JOIN People P ON
        P.PersonId = 
            ISNULL(Pat.PersonId,
            ISNULL(Doc.PersonId,
            ISNULL(Ph.PersonId,
            S.PersonId)))
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAppointmentById]
    @AppointmentID INT
AS
BEGIN
    SELECT * FROM Appointments WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentsByDoctor]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAppointmentsByDoctor]
    @DoctorID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT * FROM Appointments
    WHERE DoctorID = @DoctorID
    ORDER BY AppointmentDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentsByDoctorId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAppointmentsByDoctorId]
    @DoctorId UNIQUEIDENTIFIER  
AS
BEGIN
    SELECT 
        a.AppointmentId,
        a.AppointmentDate,
        a.AppointmentTime,

        -- تحويل الحالة من رقم إلى نص
        CASE a.Status
            WHEN 0 THEN 'Scheduled'
            WHEN 1 THEN 'Completed'
            WHEN 2 THEN 'Cancelled'
            ELSE 'Unknown'
        END AS Status,

        a.Notes,
        a.Cost,

        -- بيانات المريض
        CONCAT(p1.FirstName, ' ', p1.SecondName, ' ', ISNULL(p1.ThirdName, '')) AS PatientFullName,
        p1.ImageLocation AS PatientImage
 

    FROM Appointments a
    INNER JOIN Patients pat ON a.PatientId = pat.PatientId
    INNER JOIN People p1 ON pat.PersonId = p1.PersonId

    

    WHERE a.DoctorId = @DoctorId
END
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentsByPatient]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAppointmentsByPatient]
    @PatientID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        A.AppointmentID,
        A.PatientID,
        A.DoctorID,
        A.AppointmentDate,
        A.AppointmentTime,
        A.Reason,
        A.Status,
        A.Notes,
        A.Paid,

        -- Doctor Info
        P.FirstName + ' ' + P.SecondName + ' ' + P.ThirdName AS DoctorFullName,
        P.ImageLocation AS DoctorImagePath

    FROM Appointments A
    JOIN Doctors D ON A.DoctorID = D.DoctorID
    JOIN People P ON D.PersonID = P.PersonID
    WHERE A.PatientID = @PatientID
    ORDER BY A.AppointmentDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorById]
    @DoctorId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DoctorID,
        d.PersonID,
        d.Specialization,
        d.Available,
        d.ScheduleID,
        d.[Experienceyears],
        p.FirstName,
        p.SecondName,
        p.ThirdName,
        p.DateOfBirth,
        p.Gender,
        p.Phone,
        p.Email,
        p.ImageLocation
    FROM 
        Doctors d
    INNER JOIN 
        People p ON d.PersonID = p.PersonID
    WHERE 
        d.DoctorID = @DoctorId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorDashboardStats]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorDashboardStats]
    @DoctorId UNIQUEIDENTIFIER
AS
BEGIN
    -- عدد المرضى من خلال موعد أو وصفة بدون تكرار
    SELECT 
        (SELECT COUNT(DISTINCT PatientId)
         FROM (
             SELECT a.PatientId
             FROM Appointments a
             WHERE a.DoctorId = @DoctorId

             UNION

             SELECT p.PatientId
             FROM Prescriptions p
             WHERE p.DoctorId = @DoctorId
         ) AS CombinedPatients
        ) AS TotalPatients,

        (SELECT COUNT(*)
         FROM Appointments a
         WHERE a.DoctorId = @DoctorId AND a.AppointmentDate >= CAST(GETDATE() AS DATE)) AS UpcomingAppointments,

        (SELECT COUNT(*)
         FROM Prescriptions p
         WHERE p.DoctorId = @DoctorId) AS TotalPrescriptions,

        (SELECT COUNT(*)
         FROM Tests t
         WHERE t.DoctorId = @DoctorId) AS TotalTests
END
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsWithoutAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorsWithoutAccount]
AS
BEGIN
    SELECT 
        D.DoctorId,
        P.FirstName + ' ' + P.SecondName + ' ' + ISNULL(P.ThirdName, '') AS FullName
    FROM Doctors D
    INNER JOIN People P ON D.PersonId = P.PersonId
    WHERE NOT EXISTS (
        SELECT 1
        FROM UserAccounts UA
        WHERE UA.PersonId = D.DoctorId
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetInventoryByID]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInventoryByID]
    @InventoryID INT
AS
BEGIN
    SELECT *
    FROM [dbo].[Inventory]
    WHERE InventoryID = @InventoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetInvoicesByPatientId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInvoicesByPatientId]
    @PatientID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        I.InvoiceID,
        I.PatientID,
        I.ServiceType,
        I.ServiceID,
        I.TotalAmount,
        I.PaymentMethod,
        I.PaymentStatus,
        I.CreatedAt,
        I.Notes,

        CASE 
            WHEN I.ServiceType = 'Test' THEN TT.Name
            WHEN I.ServiceType = 'Appointment' THEN CONCAT('Appointment with ', PeD.FirstName, ' ', PeD.SecondName)
            WHEN I.ServiceType = 'Prescription' THEN M.Name
            ELSE 'Unknown'
        END AS ServiceDescription

    FROM Invoices I

    LEFT JOIN Tests T ON I.ServiceType = 'Test' AND I.ServiceID = T.TestID
    LEFT JOIN TestType TT ON T.TestTypeID = TT.TestTypeID

    LEFT JOIN Appointments A ON I.ServiceType = 'Appointment' AND I.ServiceID = A.AppointmentID
    LEFT JOIN Doctors D ON A.DoctorID = D.DoctorID
    LEFT JOIN People PeD ON D.PersonID = PeD.PersonID

    LEFT JOIN Prescriptions PR ON I.ServiceType = 'Prescription' AND I.ServiceID = PR.PrescriptionID
    LEFT JOIN Medications M ON PR.MedicationID = M.MedicationID

    WHERE I.PatientID = @PatientID
    ORDER BY I.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetMedicationByID]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMedicationByID]
    @MedicationID INT
AS
BEGIN
    SELECT [MedicationID], [Name], [Description], [Strength], [DosageForm]
    FROM [dbo].[Medications]
    WHERE [MedicationID] = @MedicationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPagedMedications]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetPagedMedications]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    -- Calculate the starting row based on page number and page size
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT [MedicationID], [Name], [Description], [Strength], [DosageForm]
    FROM [dbo].[Medications]
    ORDER BY [MedicationID]  -- You can modify the order by clause as needed
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPagedPrescriptions]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPagedPrescriptions]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT * 
    FROM Prescriptions
    ORDER BY PrescriptionDate DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPasswordResetToken]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPasswordResetToken]
    @Token NVARCHAR(64)
AS
BEGIN
    SELECT Token, UserId, Expiry
    FROM PasswordResetTokens
    WHERE Token = @Token
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientById]
    @PatientId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        p.PatientId,
        p.PersonID,
        per.FirstName,
        per.SecondName,
        per.ThirdName,
        per.DateOfBirth,
        per.Gender,
        per.Phone,
        per.Email,
        per.ImageLocation,
        p.Weight,
        p.Height
    FROM dbo.Patients p
    INNER JOIN dbo.People per ON p.PersonID = per.PersonID
    WHERE p.PatientId = @PatientId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientDashboardStats]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientDashboardStats]
    @PatientID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT
        -- عدد الفحوصات
        (SELECT COUNT(*) FROM Tests WHERE PatientID = @PatientID) AS TotalTests,

        -- عدد الوصفات
        (SELECT COUNT(*) FROM Prescriptions WHERE PatientID = @PatientID) AS TotalPrescriptions,

        -- عدد المواعيد القادمة
        (SELECT COUNT(*) FROM Appointments 
         WHERE PatientID = @PatientID AND AppointmentDate >= GETDATE()) AS UpcomingAppointments,

        -- آخر تاريخ فحص
        isnull(((SELECT TOP 1 CreatedAt 
         FROM Tests WHERE PatientID = @PatientID 
         ORDER BY CreatedAt DESC)),CAST(0 AS DATETIME)) AS LastTestDate,

        -- حالة آخر فحص
        isnull (((SELECT TOP 1 
            CASE Status 
                WHEN 1 THEN 'Pending'
                WHEN 2 THEN 'Cancelled'
                WHEN 3 THEN 'Completed'
                ELSE 'Unknown'
            END
         FROM Tests WHERE PatientID = @PatientID 
         ORDER BY CreatedAt DESC)),'Unknown') AS LastTestStatus
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientDoctorPairs]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientDoctorPairs]
AS
BEGIN
    SELECT 
        p.PatientId,
        CONCAT(pp.FirstName, ' ', pp.SecondName, ' ', pp.ThirdName) AS PatientFullName,
        d.DoctorId,
        CONCAT(dp.FirstName, ' ', dp.SecondName, ' ', dp.ThirdName) AS DoctorFullName
    FROM Patients p
    INNER JOIN People pp ON p.PersonId = pp.PersonId
    CROSS JOIN Doctors d
    INNER JOIN People dp ON d.PersonId = dp.PersonId
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientsWithoutAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientsWithoutAccount]
AS
BEGIN
    SELECT 
        Pa.PatientId,
        P.FirstName + ' ' + P.SecondName + ' ' + ISNULL(P.ThirdName, '') AS FullName
    FROM Patients Pa
    INNER JOIN People P ON Pa.PersonId = P.PersonId
    WHERE NOT EXISTS (
        SELECT 1
        FROM UserAccounts UA
        WHERE UA.PersonId = Pa.PatientId
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentsByPatientId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentsByPatientId]
    @PatientId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        PaymentId,
		
        ServiceType,
        ServiceId,
        Amount,
        PaymentMethod,
        PaymentStatus,
        PaymentDate,
        Notes
    FROM ServicePayments
    WHERE PatientId = @PatientId
    ORDER BY PaymentDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetPersonById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPersonById]
    @PersonID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        PersonID,
        FirstName,
        SecondName,
        ThirdName,
        DateOfBirth,
        Gender,
        Phone,
        Email,
        ImageLocation
    FROM dbo.People
    WHERE PersonID = @PersonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPersonByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPersonByName]
    @FirstName NVARCHAR(50),
    @SecondName NVARCHAR(50),
    @ThirdName NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 *
    FROM People
    WHERE FirstName = @FirstName
      AND SecondName = @SecondName
      AND (@ThirdName IS NULL OR ThirdName = @ThirdName);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPharmacistByID]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPharmacistByID]
    @PharmacistID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
	[PharmacistID],
	per.[PersonID], 
	[LicenseNumber], 
	[HireDate],
	ph.ExpereinceYears,
	 per.FirstName,
        per.SecondName,
        per.ThirdName,
        per.DateOfBirth,
        per.Gender,
        per.Phone,
        per.Email,
        per.ImageLocation
    FROM [dbo].[Pharmacists] ph  inner join People as per on per.PersonID = ph.PersonID
    WHERE [PharmacistID] = @PharmacistID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPharmacistsWithoutAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPharmacistsWithoutAccount]
AS
BEGIN
    SELECT 
        Ph.PharmacistId,
        P.FirstName + ' ' + P.SecondName + ' ' + ISNULL(P.ThirdName, '') AS FullName
    FROM Pharmacists Ph
    INNER JOIN People P ON Ph.PersonId = P.PersonId
    WHERE NOT EXISTS (
        SELECT 1
        FROM UserAccounts UA
        WHERE UA.PersonId = Ph.PharmacistId
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetPharmacyDashboardStats]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPharmacyDashboardStats]
AS
BEGIN
    SELECT
        (SELECT COUNT(MedicationID) FROM Medications) AS TotalMedications,
        (SELECT COUNT(PrescriptionID) FROM Prescriptions) AS TotalPrescriptions,
        (SELECT COUNT(InventoryID) FROM Inventory) AS InventoryStock,
        (SELECT COUNT(InventoryID) FROM Inventory WHERE Quantity < 10) AS LowStockCount
END
GO
/****** Object:  StoredProcedure [dbo].[GetPrescriptionByID]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPrescriptionByID]
    @PrescriptionID INT
AS
BEGIN
    SELECT *
    FROM [dbo].[Prescriptions]
    WHERE PrescriptionID = @PrescriptionID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPrescriptionsByDoctorId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPrescriptionsByDoctorId]
    @DoctorId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        p.PrescriptionId,
        p.PrescriptionDate,
        p.Refills,
        p.Instructions,

        m.Name AS MedicationName,

        CONCAT(per.FirstName, ' ', per.SecondName, ' ', ISNULL(per.ThirdName, '')) AS PatientFullName,
        per.ImageLocation AS PatientImage

    FROM Prescriptions p
    INNER JOIN Medications m ON p.MedicationId = m.MedicationId
    INNER JOIN Patients pat ON p.PatientId = pat.PatientId
    INNER JOIN People per ON pat.PersonId = per.PersonId

    WHERE p.DoctorId = @DoctorId
END
GO
/****** Object:  StoredProcedure [dbo].[GetPrescriptionsByPatientId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPrescriptionsByPatientId]
    @PatientID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        p.PrescriptionID,
        p.PrescriptionDate,
        p.Refills,
        p.Instructions,
        m.Name AS MedicationName,

        d.DoctorID,
        pd.FirstName + ' ' + pd.SecondName + ' ' + pd.ThirdName AS DoctorName,
        pd.ImageLocation AS DoctorImage,

        ph.PharmacistID,
        php.FirstName + ' ' + php.SecondName + ' ' + php.ThirdName AS PharmacistName,

		php.ImageLocation as PharmacistImage

    FROM Prescriptions p

    INNER JOIN Medications m 
        ON p.MedicationID = m.MedicationID

    INNER JOIN Doctors d 
        ON p.DoctorID = d.DoctorID

    INNER JOIN People pd 
        ON d.PersonID = pd.PersonID

    LEFT JOIN Pharmacists ph 
        ON ph.PharmacistID = (
            SELECT TOP 1 PharmacistID 
            FROM Pharmacists 
            ORDER BY NEWID()
        )

    LEFT JOIN People php 
        ON ph.PersonID = php.PersonID

    WHERE p.PatientID = @PatientID
END
GO
/****** Object:  StoredProcedure [dbo].[GetProfileByEntityId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProfileByEntityId]
    @EntityId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- نحاول نلقاه كمريض
    IF EXISTS (SELECT 1 FROM Patients WHERE PatientId = @EntityId)
    BEGIN
        SELECT CONCAT(p.FirstName, ' ', p.SecondName) AS FullName, p.ImageLocation ,'Patient' As CurrentRole
        FROM Patients pa
        INNER JOIN People p ON pa.PersonId = p.PersonId
        WHERE pa.PatientId = @EntityId
        RETURN
    END

    -- نحاول نلقاه كطبيب
    IF EXISTS (SELECT 1 FROM Doctors WHERE DoctorId = @EntityId)
    BEGIN
        SELECT CONCAT(p.FirstName, ' ', p.SecondName) AS FullName, p.ImageLocation ,'Doctor' As CurrentRole
        FROM Doctors d
        INNER JOIN People p ON d.PersonId = p.PersonId
		
        WHERE d.DoctorId = @EntityId
        RETURN
    END

    -- كصيدلي
    IF EXISTS (SELECT 1 FROM Pharmacists WHERE PharmacistId = @EntityId)
    BEGIN
        SELECT CONCAT(p.FirstName, ' ', p.SecondName) AS FullName, p.ImageLocation,'Pharmacist' As CurrentRole
        FROM Pharmacists ph
        INNER JOIN People p ON ph.PersonId = p.PersonId
        WHERE ph.PharmacistId = @EntityId
        RETURN
    END

    -- ككادر
    IF EXISTS (SELECT 1 FROM Staff WHERE StaffId = @EntityId)
    BEGIN
        SELECT CONCAT(p.FirstName, ' ', p.SecondName) AS FullName, p.ImageLocation , 'Staff' As CurrentRole
        FROM Staff s
        INNER JOIN People p ON s.PersonId = p.PersonId
        WHERE s.StaffId = @EntityId
        RETURN
    END

    -- إذا لم يتم العثور عليه
    SELECT '' AS FullName, '' AS ImageLocation , '' as CurrentRole
END
GO
/****** Object:  StoredProcedure [dbo].[GetStaffById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get by ID
CREATE PROCEDURE [dbo].[GetStaffById]
    @StaffId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT s.StaffId, s.PersonId, s.IsAdmin, s.HireDate,
           p.FirstName, p.SecondName, p.ThirdName, p.DateOfBirth, p.Email, p.Phone, p.Gender, p.ImageLocation
    FROM Staff s
    JOIN People p ON s.PersonId = p.PersonId
    WHERE s.StaffId = @StaffId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetStaffDashboardStats]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStaffDashboardStats]
AS
BEGIN
    -- عدد الفحوصات غير المفوترة
    DECLARE @UnpaidTests INT = (
        SELECT COUNT(*) FROM Tests t
        WHERE NOT EXISTS (
            SELECT 1 FROM Invoices i
            WHERE i.ServiceType = 'Test' AND i.ServiceId = t.TestID
        )
    );

    -- عدد الوصفات غير المفوترة
    DECLARE @UnpaidPrescriptions INT = (
        SELECT COUNT(*) FROM Prescriptions p
        WHERE NOT EXISTS (
            SELECT 1 FROM Invoices i
            WHERE i.ServiceType = 'Prescription' AND i.ServiceId = p.PrescriptionID
        )
    );

    -- عدد المواعيد غير المفوترة
    DECLARE @UnpaidAppointments INT = (
        SELECT COUNT(*) FROM Appointments a
        WHERE NOT EXISTS (
            SELECT 1 FROM Invoices i
            WHERE i.ServiceType = 'Appointment' AND i.ServiceId = a.AppointmentID
        )
    );

    -- المجموع
    DECLARE @TotalUnpaid INT = @UnpaidTests + @UnpaidPrescriptions + @UnpaidAppointments;

    SELECT
        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Invoices) AS TotalPayments,
        @TotalUnpaid AS UnpaidServices,
        (SELECT COUNT(*) FROM Appointments) AS TotalAppointments,
        (SELECT COUNT(*) FROM Tests) AS TotalTests;
END
GO
/****** Object:  StoredProcedure [dbo].[GetStaffWithoutAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStaffWithoutAccount]
AS
BEGIN
    SELECT 
        S.StaffId,
        P.FirstName + ' ' + P.SecondName + ' ' + ISNULL(P.ThirdName, '') AS FullName
    FROM Staff S
    INNER JOIN People P ON S.PersonId = P.PersonId
    WHERE NOT EXISTS (
        SELECT 1
        FROM UserAccounts UA
        WHERE UA.PersonId = S.StaffId
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetTestByID]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTestByID]
    @TestID INT
AS
BEGIN
    SELECT *
    FROM [dbo].[Tests]
    WHERE [TestID] = @TestID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTestsByDoctorId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetTestsByDoctorId]
    @DoctorId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        t.TestId,                         -- TestID
        t.TestTypeId,                     -- TestTypeID
        t.CreatedAt,                      -- CreatedAt
       CASE t.Status
            WHEN 1 THEN 'Pending'
            WHEN 2 THEN 'Canceled'
            WHEN 3 THEN 'Completed'
            ELSE 'Unknown'
        END AS Status,                        -- Status
        t.Notes,                          -- Notes
        t.Cost,                           -- Cost
        t.TestResult,                     -- TestResult

        tt.Name AS TestTypeName,          -- TestTypeName

        p.PatientId,                      -- PatientID
        CONCAT(pr.FirstName, ' ', pr.SecondName, ' ', pr.ThirdName) AS PatientName,  -- اسم المريض
        pr.ImageLocation AS PatientImage      -- صورة المريض

    FROM Tests t
    INNER JOIN TestType tt ON t.TestTypeId = tt.TestTypeId
    INNER JOIN Patients p ON t.PatientId = p.PatientId
    INNER JOIN People pr ON p.PersonId = pr.PersonId
    WHERE t.DoctorId = @DoctorId
    ORDER BY t.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetTestsByPatientId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTestsByPatientId]
    @PatientId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        t.TestId,
        t.TestTypeId,
        t.CreatedAt,
        -- ✅ تحويل الرقم إلى نص
        CASE t.Status
            WHEN 1 THEN 'Pending'
            WHEN 2 THEN 'Canceled'
            WHEN 3 THEN 'Completed'
            ELSE 'Unknown'
        END AS Status,

        t.Notes,
        t.Cost,
        t.TestResult,

        tt.Name AS TestTypeName,

        d.DoctorId,
        CONCAT(p.FirstName, ' ', p.SecondName, ' ', p.ThirdName) AS DoctorName,
        p.ImageLocation AS DoctorImage

    FROM Tests t
    INNER JOIN TestType tt ON t.TestTypeId = tt.TestTypeId
    INNER JOIN Doctors d ON t.DoctorId = d.DoctorId
    INNER JOIN People p ON d.PersonId = p.PersonId
    WHERE t.PatientId = @PatientId
    ORDER BY t.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetTestTypeById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTestTypeById]
    @TestTypeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TestTypeId,
        Name,
        Description,
        Cost
    FROM dbo.TestType
    WHERE TestTypeId = @TestTypeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUnpaidAppointments]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnpaidAppointments]
AS
BEGIN
    SELECT 
        A.AppointmentID AS ServiceID,
        A.PatientID,
        CONCAT(Pe.FirstName, ' ', Pe.SecondName, ' ', Pe.ThirdName) AS PatientName,
        Pe.ImageLocation,
        CONCAT('With Dr. ', DPe.FirstName, ' ', DPe.SecondName) AS ServiceName,
        A.Cost AS TotalAmount,
        A.AppointmentDate AS CreatedAt
    FROM Appointments A
    INNER JOIN Patients P ON A.PatientID = P.PatientID
    INNER JOIN People Pe ON P.PersonID = Pe.PersonID
    INNER JOIN Doctors D ON A.DoctorID = D.DoctorID
    INNER JOIN People DPe ON D.PersonID = DPe.PersonID
    WHERE NOT EXISTS (
        SELECT 1 FROM Invoices I
        WHERE I.ServiceType = 'Appointment' AND I.ServiceID = A.AppointmentID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetUnpaidPrescriptions]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnpaidPrescriptions]
AS
BEGIN
    SELECT 
        PR.PrescriptionID AS ServiceID,
        PR.PatientID,
        CONCAT(Pe.FirstName, ' ', Pe.SecondName, ' ', Pe.ThirdName) AS PatientName,
        Pe.ImageLocation,
        M.Name AS ServiceName,
        PR.Cost AS TotalAmount,
        PR.PrescriptionDate AS CreatedAt
    FROM Prescriptions PR
    INNER JOIN Medications M ON PR.MedicationID = M.MedicationID
    INNER JOIN Patients P ON PR.PatientID = P.PatientID
    INNER JOIN People Pe ON P.PersonID = Pe.PersonID
    WHERE NOT EXISTS (
        SELECT 1 FROM Invoices I
        WHERE I.ServiceType = 'Prescription' AND I.ServiceID = PR.PrescriptionID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetUnpaidTests]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnpaidTests]
AS
BEGIN
    SELECT 
        T.TestID,
        T.PatientID,
        CONCAT(Pe.FirstName, ' ', Pe.SecondName, ' ', Pe.ThirdName) AS PatientName,
        Pe.ImageLocation,
        TT.Name as TestName,
        T.Cost,
        T.CreatedAt
    FROM Tests T
    INNER JOIN TestType TT ON T.TestTypeID = TT.TestTypeID
    INNER JOIN Patients P ON T.PatientID = P.PatientID
    INNER JOIN People Pe ON P.PersonID = Pe.PersonID
    WHERE NOT EXISTS (
        SELECT 1 FROM Invoices I
        WHERE I.ServiceType = 'Test' AND I.ServiceID = T.TestID
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserAccountByEmail]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserAccountByEmail]
    @Email VARCHAR(255)
AS
BEGIN
    SELECT TOP 1 *
    FROM UserAccounts
    WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserAccountById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. GetUserAccountById Stored Procedure
-- =========================================
CREATE PROCEDURE [dbo].[GetUserAccountById]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM UserAccounts WHERE UserId = @UserId;
END

GO
/****** Object:  StoredProcedure [dbo].[InsertAppointment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAppointment]
    @PatientID UNIQUEIDENTIFIER,
    @DoctorID UNIQUEIDENTIFIER,
    @AppointmentDate DATE,
    @Reason NVARCHAR(255),
    @Status INT,
    @Notes NVARCHAR(255) = NULL,
	@Paid  bit ,
	@AppointmentTime time(7)
AS
BEGIN
    INSERT INTO Appointments (PatientID, DoctorID, AppointmentDate, Reason, Status, Notes,Paid,AppointmentTime)
    VALUES (@PatientID, @DoctorID, @AppointmentDate, @Reason, @Status, @Notes,@Paid,@AppointmentTime)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDoctor]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDoctor]
    @PersonID UNIQUEIDENTIFIER,
    @Specialization NVARCHAR(100),
    @Available BIT,
	@Experienceyears int,
    @ScheduleID INT
AS
BEGIN
    SET NOCOUNT ON;
	declare @DoctorID UNIQUEIDENTIFIER
    SET @DoctorID = NEWID();

    INSERT INTO Doctors (DoctorID, PersonID, Specialization,[Experienceyears], Available, ScheduleID)
    VALUES (@DoctorID, @PersonID, @Specialization,@Experienceyears ,@Available, @ScheduleID);
	select @DoctorID as DoctorID ;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertInventory]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInventory]
    @MedicationID INT,
    @Quantity INT,
    @UnitOfMeasure NVARCHAR(50),
    @ExpiryDate DATE,
    @Supplier NVARCHAR(50),
    @RecivedDate DATE
AS
BEGIN
    INSERT INTO [dbo].[Inventory] 
    (MedicationID, Quantity, UnitOfMeasure, ExpiryDate, Supplier, RecivedDate)
    VALUES 
    (@MedicationID, @Quantity, @UnitOfMeasure, @ExpiryDate, @Supplier, @RecivedDate);

    SELECT SCOPE_IDENTITY() AS InventoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertInvoice]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInvoice]
    @PatientID UNIQUEIDENTIFIER,
    @ServiceType VARCHAR(20),
    @ServiceID INT,
    @TotalAmount DECIMAL(10,2),
    @PaymentMethod VARCHAR(20),
    @PaymentStatus VARCHAR(20),
    @Notes NVARCHAR(MAX),
    @CardSessionID VARCHAR(100) = NULL,
    @CardPaymentIntentID VARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO Invoices (PatientID, ServiceType, ServiceID, TotalAmount, PaymentMethod, PaymentStatus, Notes, CardSessionID, CardPaymentIntentID)
    VALUES (@PatientID, @ServiceType, @ServiceID, @TotalAmount, @PaymentMethod, @PaymentStatus, @Notes, @CardSessionID, @CardPaymentIntentID)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertMedication]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMedication]
    @Name NVARCHAR(255),
    @Description NVARCHAR(1000),
    @Strength NVARCHAR(50),
    @DosageForm NVARCHAR(100)
AS
BEGIN
    INSERT INTO [dbo].[Medications] ([Name], [Description], [Strength], [DosageForm])
    VALUES (@Name, @Description, @Strength, @DosageForm);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertPatient]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPatient]
    @PersonId UNIQUEIDENTIFIER,
    @Weight DECIMAL(18, 2),
    @Height DECIMAL(18, 2)
    
AS
BEGIN
    SET NOCOUNT ON;

    -- Generate a new GUID for PatientId
	declare @PatientId UNIQUEIDENTIFIER;
    SET @PatientId = NEWID();

    -- Insert into Patient table
    INSERT INTO dbo.Patients (PatientId, PersonID, Weight, Height)
    VALUES (@PatientId, @PersonId, @Weight, @Height);

	Select @PatientId As PatientId;
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPerson]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[InsertPerson]
    @FirstName NVARCHAR(100),
    @SecondName NVARCHAR(100),
    @ThirdName NVARCHAR(100) = NULL,
    @DateOfBirth DATE,
    @Gender BIT,
    @Phone NVARCHAR(15),
    @Email NVARCHAR(100),
    @ImageLocation NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare a variable to hold the generated PersonID
    DECLARE @NewPersonID UNIQUEIDENTIFIER;

    -- Generate a new GUID for PersonID
    SET @NewPersonID = NEWID();

    -- Insert new person into People table with the generated PersonID
    INSERT INTO dbo.People 
    (
        PersonID,
        FirstName, 
        SecondName, 
        ThirdName, 
        DateOfBirth, 
        Gender, 
        Phone, 
        Email, 
        ImageLocation
    )
    VALUES 
    (
        @NewPersonID, 
        @FirstName, 
        @SecondName, 
        @ThirdName, 
        @DateOfBirth, 
        @Gender, 
        @Phone, 
        @Email, 
        @ImageLocation
    );
    
    -- Return the newly inserted PersonID
    SELECT @NewPersonID AS PersonID;
END;

GO
/****** Object:  StoredProcedure [dbo].[InsertPharmacist]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPharmacist]
    @PersonID UNIQUEIDENTIFIER,
    @LicenseNumber NVARCHAR(50),
    @HireDate DATETIME,
	@ExpereinceYears int
AS
BEGIN
  declare @PharmacistID UNIQUEIDENTIFIER;
  set @PharmacistID = NEWID();
    INSERT INTO [dbo].[Pharmacists] (PharmacistID,[PersonID], [LicenseNumber], [HireDate],[ExpereinceYears])
    VALUES (@PharmacistID,@PersonID, @LicenseNumber, @HireDate,@ExpereinceYears);
	select  @PharmacistID as PharmacistID;

END;
GO
/****** Object:  StoredProcedure [dbo].[InsertPrescription]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPrescription]
    @PatientID UNIQUEIDENTIFIER,
    @DoctorID UNIQUEIDENTIFIER,
    @MedicationID INT,
    @PrescriptionDate DATE,
    @Refills INT = NULL,
    @Instructions NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Prescriptions] (
        PatientID, DoctorID, MedicationID, PrescriptionDate, Refills, Instructions
    )
    VALUES (
        @PatientID, @DoctorID, @MedicationID, @PrescriptionDate, @Refills, @Instructions
    );

    SELECT SCOPE_IDENTITY() AS PrescriptionID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertServicePayment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertServicePayment]
    @PatientId UNIQUEIDENTIFIER,
    @ServiceType NVARCHAR(20),
    @ServiceId INT,
    @Amount DECIMAL(10,2),
    @PaymentMethod NVARCHAR(10),
    @PaymentStatus NVARCHAR(20),
    @StripeSessionId NVARCHAR(255) = NULL,
    @StripePaymentIntentId NVARCHAR(255) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO ServicePayments (
        PatientId, ServiceType, ServiceId, Amount, PaymentMethod, PaymentStatus,
        StripeSessionId, StripePaymentIntentId, Notes
    )
    VALUES (
        @PatientId, @ServiceType, @ServiceId, @Amount, @PaymentMethod, @PaymentStatus,
        @StripeSessionId, @StripePaymentIntentId, @Notes
    )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertStaff]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert
CREATE PROCEDURE [dbo].[InsertStaff]
    @PersonId UNIQUEIDENTIFIER,
    @IsAdmin BIT,
    @HireDate DATE
AS
BEGIN
    INSERT INTO Staff (PersonId, IsAdmin, HireDate)
    OUTPUT INSERTED.StaffId
    VALUES (@PersonId, @IsAdmin, @HireDate);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTest]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Insert Stored Procedure ******/
CREATE PROCEDURE [dbo].[InsertTest]
    @PatientID UNIQUEIDENTIFIER,
    @DoctorID UNIQUEIDENTIFIER,
    @TestTypeID INT,
    @CreatedAt DATETIME,
    @Status NVARCHAR(50),
    @Notes NVARCHAR(255),
    @Cost DECIMAL(18, 2), 
	@TestResult nvarchar(Max),
	@TestID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Tests] ([PatientID], [DoctorID], [TestTypeID], [CreatedAt], [Status], [Notes], [Cost],[TestResult])
    VALUES (@PatientID, @DoctorID, @TestTypeID, @CreatedAt, @Status, @Notes, @Cost,@TestResult);
	 SET @TestID = SCOPE_IDENTITY();

END;
GO
/****** Object:  StoredProcedure [dbo].[InsertTestType]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTestType]
    @Name NVARCHAR(255),
    @Description NVARCHAR(MAX) = NULL,
    @Cost DECIMAL(18, 2),
    @TestTypeId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert into TestTypes table
    INSERT INTO dbo.TestType (Name, Description, Cost)
    VALUES (@Name, @Description, @Cost);

    -- Output the TestTypeId of the newly inserted record
    SET @TestTypeId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTwoFactorCode]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTwoFactorCode]
    @UserId UNIQUEIDENTIFIER,
    @Code NVARCHAR(6)
AS
BEGIN
    INSERT INTO TwoFactorCodes (UserId, Code, Expiry)
    VALUES (@UserId, @Code, DATEADD(MINUTE, 5, GETDATE()));
END;
GO
/****** Object:  StoredProcedure [dbo].[IsDoctorExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsDoctorExistsById]
    @DoctorId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Doctors WHERE DoctorID = @DoctorId)
        SELECT 1;
    ELSE
        SELECT 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[IsDoctorExistsByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsDoctorExistsByName]
    @FirstName NVARCHAR(50),
    @SecondName NVARCHAR(50),
    @ThirdName NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE 
        WHEN EXISTS (
            SELECT 1
            FROM Doctors d
            JOIN People p ON d.PersonID = p.PersonID
            WHERE p.FirstName = @FirstName
              AND p.SecondName = @SecondName
              AND (
                    (@ThirdName IS NULL AND p.ThirdName IS NULL) 
                    OR (p.ThirdName = @ThirdName)
                  )
        )
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[IsDoctorExistsByPersonId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsDoctorExistsByPersonId]
    @PersonId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Doctors WHERE PersonID = @PersonId)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[IsPatientExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPatientExistsById]
    @PatientId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exists BIT;

    -- Check if the Patient exists
    IF EXISTS (SELECT 1 FROM dbo.Patients WHERE PatientId = @PatientId)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;

    -- Return the result (1 if exists, 0 if not)
    SELECT @Exists AS PatientExists;
END
GO
/****** Object:  StoredProcedure [dbo].[IsPatientExistsByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPatientExistsByName]
    @FirstName NVARCHAR(50),
    @SecondName NVARCHAR(50),
    @ThirdName NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE 
        WHEN EXISTS (
            SELECT 1
            FROM Patients pt
            JOIN People p ON pt.PersonID = p.PersonID
            WHERE p.FirstName = @FirstName
              AND p.SecondName = @SecondName
              AND (
                    (@ThirdName IS NULL AND p.ThirdName IS NULL) 
                    OR (p.ThirdName = @ThirdName)
                  )
        )
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[IsPatientExistsByPersonId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPatientExistsByPersonId]
    @PersonId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Patients WHERE PersonID = @PersonId)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[IsPersonExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPersonExistsById]
    @PersonID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Exists BIT;
    
    SELECT @Exists = CASE 
                        WHEN EXISTS (SELECT 1 FROM dbo.People WHERE PersonID = @PersonID)
                        THEN 1
                        ELSE 0
                    END;
    
    SELECT @Exists AS PersonExists;
END;
GO
/****** Object:  StoredProcedure [dbo].[IsPersonExistsByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPersonExistsByName]
    @FirstName NVARCHAR(100),
    @SecondName NVARCHAR(100),
    @ThirdName NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exists BIT;

    -- Check if a person with the given name exists
    SELECT @Exists = CASE
                        WHEN EXISTS (
                            SELECT 1
                            FROM dbo.People
                            WHERE FirstName = @FirstName
                              AND SecondName = @SecondName
                              AND (@ThirdName IS NULL OR ThirdName = @ThirdName)
                        )
                        THEN 1
                        ELSE 0
                    END;

    -- Return 1 if exists, 0 if not
    SELECT @Exists AS PersonExists;
END;
GO
/****** Object:  StoredProcedure [dbo].[IsPharmacistExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPharmacistExistsById]
    @PharmacistId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Pharmacists WHERE PharmacistID = @PharmacistId)
        SELECT 1;
    ELSE
        SELECT 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[IsPharmacistExistsByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[IsPharmacistExistsByName]
    @FirstName NVARCHAR(50),
    @SecondName NVARCHAR(50),
    @ThirdName NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE 
        WHEN EXISTS (
            SELECT 1
            FROM Pharmacists ph
            JOIN People p ON ph.PersonID = p.PersonID
            WHERE p.FirstName = @FirstName
              AND p.SecondName = @SecondName
              AND (
                    (@ThirdName IS NULL AND p.ThirdName IS NULL) 
                    OR (p.ThirdName = @ThirdName)
                  )
        )
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[IsPharmacistExistsByPersonId]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsPharmacistExistsByPersonId]
    @PersonId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Pharmacists WHERE PersonID = @PersonId)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[IsTestExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[IsTestExistsById]
    @TestId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exists BIT;

    -- Check if the TestType exists
    IF EXISTS (SELECT 1 FROM dbo.Tests WHERE TestID = @TestId)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;

    -- Return the result (1 if exists, 0 if not)
    SELECT @Exists AS TestTypeExists;
END
GO
/****** Object:  StoredProcedure [dbo].[IsTestTypeExistsById]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsTestTypeExistsById]
    @TestTypeId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exists BIT;

    -- Check if the TestType exists
    IF EXISTS (SELECT 1 FROM dbo.TestType WHERE TestTypeId = @TestTypeId)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;

    -- Return the result (1 if exists, 0 if not)
    SELECT @Exists AS TestTypeExists;
END
GO
/****** Object:  StoredProcedure [dbo].[IsTestTypeExistsByName]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsTestTypeExistsByName]
    @Name nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exists BIT;

    -- Check if the TestType exists
    IF EXISTS (SELECT 1 FROM dbo.TestType WHERE TestType.Name = @Name)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;

    -- Return the result (1 if exists, 0 if not)
    SELECT @Exists AS TestTypeExists;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAppointment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAppointment]
    @AppointmentID INT,
    @AppointmentDate DATE,
    @Reason NVARCHAR(255),
    @Status INT,
    @Notes NVARCHAR(255) = NULL,
	@Paid  bit ,
	@AppointmentTime time(7)
AS
BEGIN
    UPDATE Appointments
    SET AppointmentDate = @AppointmentDate,
        Reason = @Reason,
        Status = @Status,
        Notes = @Notes,
		Paid = @Paid,
	    AppointmentTime = @AppointmentTime

    WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDoctor]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDoctor]
    @DoctorID UNIQUEIDENTIFIER,
    @Specialization NVARCHAR(100),
    @Experienceyears int,
    @Available BIT,
    @ScheduleID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Doctors
    SET
        Specialization = @Specialization,
        Available = @Available,
        ScheduleID = @ScheduleID,
		[Experienceyears] = @Experienceyears
    WHERE DoctorID = @DoctorID;
	select @@ROWCOUNT as RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateDoctorSchedule]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Update a doctor schedule
CREATE PROCEDURE [dbo].[UpdateDoctorSchedule]
    @ScheduleID INT,
    @DoctorID UNIQUEIDENTIFIER,
    @Days NVARCHAR(50),
    @StartTime TIME,
    @EndTime TIME,
    @IsAvailable BIT
AS
BEGIN
    UPDATE [MCMS].[dbo].[DoctorSchedules]
    SET [DoctorID] = @DoctorID,
        [Days] = @Days,
        [StartTime] = @StartTime,
        [EndTime] = @EndTime,
        [IsAvailable] = @IsAvailable
    WHERE [ScheduleID] = @ScheduleID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateInventory]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateInventory]
    @InventoryID INT,
    @MedicationID INT,
    @Quantity INT,
    @UnitOfMeasure NVARCHAR(50),
    @ExpiryDate DATE,
    @Supplier NVARCHAR(50),
    @RecivedDate DATE
AS
BEGIN
    UPDATE [dbo].[Inventory]
    SET 
        MedicationID = @MedicationID,
        Quantity = @Quantity,
        UnitOfMeasure = @UnitOfMeasure,
        ExpiryDate = @ExpiryDate,
        Supplier = @Supplier,
        RecivedDate = @RecivedDate
    WHERE InventoryID = @InventoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateInvoice]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateInvoice]
    @InvoiceID INT,
    @TotalAmount DECIMAL(10, 2),
    @PaymentStatus NVARCHAR(50),
    @Notes NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Invoices
    SET
        TotalAmount = @TotalAmount,
        PaymentStatus = @PaymentStatus,
        Notes = @Notes
    WHERE InvoiceID = @InvoiceID;

    select   @@ROWCOUNT as rowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMedication]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMedication]
    @MedicationID INT,
    @Name NVARCHAR(255),
    @Description NVARCHAR(1000),
    @Strength NVARCHAR(50),
    @DosageForm NVARCHAR(100)
AS
BEGIN
    UPDATE [dbo].[Medications]
    SET 
        [Name] = @Name,
        [Description] = @Description,
        [Strength] = @Strength,
        [DosageForm] = @DosageForm
    WHERE [MedicationID] = @MedicationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatient]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePatient]
    @PatientId UNIQUEIDENTIFIER,
    @PersonId UNIQUEIDENTIFIER,
    @Weight DECIMAL(18, 2),
    @Height DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    -- Update the Patient details
    UPDATE dbo.Patients
    SET 
        PersonID = @PersonId,
        Weight = @Weight,
        Height = @Height
    WHERE PatientId = @PatientId;
	 SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePerson]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePerson]
    @PersonID UNIQUEIDENTIFIER,
    @FirstName NVARCHAR(100),
    @SecondName NVARCHAR(100),
    @ThirdName NVARCHAR(100) = NULL,
    @DateOfBirth DATE,
    @Gender BIT,
    @Phone NVARCHAR(15),
    @Email NVARCHAR(100),
    @ImageLocation NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.People
    SET 
        FirstName = @FirstName,
        SecondName = @SecondName,
        ThirdName = @ThirdName,
        DateOfBirth = @DateOfBirth,
        Gender = @Gender,
        Phone = @Phone,
        Email = @Email,
        ImageLocation = @ImageLocation
    WHERE PersonID = @PersonID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePharmacist]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePharmacist]
    @PharmacistID UNIQUEIDENTIFIER,
    @LicenseNumber NVARCHAR(50),
    @HireDate DATETIME,
	@ExpereinceYears int
AS
BEGIN
    UPDATE [dbo].[Pharmacists]
    SET 
        [LicenseNumber] = @LicenseNumber,
        [HireDate] = @HireDate,
		ExpereinceYears = @ExpereinceYears
    WHERE [PharmacistID] = @PharmacistID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrescription]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePrescription]
    @PrescriptionID INT,
    @PatientID UNIQUEIDENTIFIER,
    @DoctorID UNIQUEIDENTIFIER,
    @MedicationID INT,
    @PrescriptionDate DATE,
    @Refills INT = NULL,
    @Instructions NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE [dbo].[Prescriptions]
    SET
        PatientID = @PatientID,
        DoctorID = @DoctorID,
        MedicationID = @MedicationID,
        PrescriptionDate = @PrescriptionDate,
        Refills = @Refills,
        Instructions = @Instructions
    WHERE PrescriptionID = @PrescriptionID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateServicePayment]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateServicePayment]
    @PaymentId INT,
    @PaymentStatus NVARCHAR(20),
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE ServicePayments
    SET 
        PaymentStatus = @PaymentStatus,
        Notes = @Notes
    WHERE PaymentId = @PaymentId
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStaff]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update
CREATE PROCEDURE [dbo].[UpdateStaff]
    @StaffId UNIQUEIDENTIFIER,
    @IsAdmin BIT,
    @HireDate DATE
AS
BEGIN
    UPDATE Staff
    SET IsAdmin = @IsAdmin,
        HireDate = @HireDate
    WHERE StaffId = @StaffId;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTest]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Update Test Stored Procedure ******/
CREATE PROCEDURE [dbo].[UpdateTest]
    @TestID INT,
    @PatientID UNIQUEIDENTIFIER,
    @DoctorID UNIQUEIDENTIFIER,
    @TestTypeID INT,
    @CreatedAt DATETIME,
    @Status NVARCHAR(50),
    @Notes NVARCHAR(255),
    @Cost DECIMAL(18, 2),
	@TestResult nvarchar(Max)
AS
BEGIN
    UPDATE [dbo].[Tests]
    SET 
        [PatientID] = @PatientID,
        [DoctorID] = @DoctorID,
        [TestTypeID] = @TestTypeID,
        [CreatedAt] = @CreatedAt,
        [Status] = @Status,
        [Notes] = @Notes,
        [Cost] = @Cost,
		TestResult = @TestResult
    WHERE [TestID] = @TestID;
	 SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateTestType]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTestType]
    @TestTypeId INT,
    @Name NVARCHAR(255),
    @Description NVARCHAR(MAX) = NULL,
    @Cost DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    -- Update the TestType details
    UPDATE dbo.TestType
    SET 
        Name = @Name,
        Description = @Description,
        Cost = @Cost
    WHERE TestTypeId = @TestTypeId;
	 SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserAccount]    Script Date: 7/28/2025 12:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================
-- 4. UpdateUserAccount Stored Procedure
-- =========================================
CREATE PROCEDURE [dbo].[UpdateUserAccount]
    @UserId UNIQUEIDENTIFIER,
    @Email NVARCHAR(100),
    @IsActive BIT,
	@2FA   Bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserAccounts
    SET Email = @Email,
        IsActive = @IsActive,
		Is2FAEnabled = @2FA
    WHERE UserId = @UserId;

	select @@ROWCOUNT as rowsAffected 
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Height In KiloGrams' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Patients', @level2type=N'COLUMN',@level2name=N'Height'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Weight In KiloGrams' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Patients', @level2type=N'COLUMN',@level2name=N'Weight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1- completed 2-pending 3-canceled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tests', @level2type=N'COLUMN',@level2name=N'Status'
GO
